<div class="jumbotron mt-4">
    <center><h1 class="display-4">Aplicación de Notas con MongoDB</h1></center>
    <center>
        <hr class="my-4">
        <p>Florentino Ramirez Balderas</p>
        <p>Desarrollo de Software Multiplataforma</p>
        <p>Universidad Tecnológica del norte de Guanajuato</p>
        <br>
        <a href="https://github.com/Florentinorm" class="btn btn-primary btn-lg">GitHub</a>
    </center>
</div>